[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/vim-js-indent"]
	path = .vim/bundle/vim-js-indent
	url = https://github.com/gavocanov/vim-js-indent.git
[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = git://github.com/jimeh/git-aware-prompt.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/vim-closetag"]
	path = .vim/bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/vim-tmux"]
	path = .vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-localvimrc"]
	path = .vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/phpcomplete-extended"]
	path = .vim/bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "/home/anders/.vim/bundle/ack.vim"]
	path = /home/anders/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/csscomplete.vim"]
	path = .vim/bundle/csscomplete.vim
	url = https://github.com/othree/csscomplete.vim.git
[submodule ".vim/bundle/vim-blade"]
	path = .vim/bundle/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
