[submodule ".tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = git://github.com/jimeh/git-aware-prompt.git
[submodule ".local/src/nord-rofi"]
	path = .local/src/nord-rofi
	url = https://github.com/amayer5125/nord-rofi.git
