[submodule ".tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = git://github.com/jimeh/git-aware-prompt.git
[submodule ".themes/NordGTK"]
	path = .themes/NordGTK
	url = https://github.com/r2binx/NordGTK.git
[submodule ".themes/Nordic"]
	path = .themes/Nordic
	url = https://github.com/EliverLara/Nordic.git
